[toolchain]
anchor_version = "0.29.0" 

[features]
seeds = false
skip-lint = false

[programs.localnet]
tip_project = "7sLJJYECWzm1iUE2zEPkD7XtdcUp9qHx3HQPoiUGaicY"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/home/lala_02/.config/solana/id.json"

[scripts]
test = "npx ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
